{% extends "base.html"%}
{% block content %}
<style>
  input
      {
        border-radius: 20px;
        padding: 5px;
        border: 1px solid grey;
      }
      form
      {
        background-color: lightgray;
        margin: 80px;
        padding: 20px 40px 20px
      }
      button
            {
                background-color:blue;
                border: none;
                width: 100px;
                height: 35px;
                border-radius: 20px;
                position: relative;
            }
            button:hover
            {
                background-color:lightskyblue;
            }
</style>
    {% if messages %}
     {% for message in messages %}
       <div class="alert alert-{{ message.tags }}" role="alert">
         {{ message }}
       </div>
     {% endfor %}
   {% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form }}

      <button type="submit" name="button" onclick = "qwert()" >Submit</button>
      <br>
      <a href="{% url 'general:sales' %}">Back to homepage</a>
    </form>
    <script type="text/javascript">
    function qwert()
    {
      console.log("Pritish");
      var color = document.getElementsByClassName("color");
      var i=0;
      var j=0;
      var arr = Array()
      for(i=0;i<color.length;i++)
      {
        if(color[i].checked)
        {
          arr[j]=color[i].value;
          j++;
        }
      };
      console.log(arr);document.getElementById("color_hidden").value = arr;
    }
    </script>
  {% endblock %}
