{% extends "base.html"%}
{% block content %}
<style>
  input
      {
        border-radius: 15px;
        padding: 5px;
        border: 1px solid grey;
      }
      form
      {
        background-color: lightgray;
        margin: 30px;
        padding: 10px 40px 20px
      }
      button
            {
                background-color:blue;
                border: none;
                width: 100px;
                height: 35px;
                border-radius: 20px;
                position: relative;
                 text-align: center;
            }
            button:hover
            {
                background-color:lightskyblue;
            }
</style>
  {% if is_manager%}
    <a href="{% url 'accounts:performance' %}" style="color: black;"> Manager View </a>
  {% endif %}
  <br>
  <a href="{% url 'general:booking' %}" style="color: black;"> Add Customer </a>
  <!-- Customer Addition confirmation -->
  {% if messages%}
   {% for message in messages %}
     <div class="alert alert-{{ message.tags }}" role="alert">
       {{ message }}
     </div>
   {% endfor %}
 {% endif %}

  <h1> Add sale</h1>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button type="submit" name="button">Submit</button>
    </form>
    <a href="{% url 'general:add_inventory' %}" style="color: black;"> Add inventory </a>
    <h1> Inventory Check </h1>
    <form method="get">
        {% csrf_token %}
        Model Name:<input type = "text" name="model"><br><br>
        Start year search:<input type = "number" name="start_year"><br><br>
        end year search:<input type ="number" name="end_year">
        <input type = "submit" style="background-color: blue; width: 100px;"><br>
    </form>
    {% for invent in inventory %}
    {{ invent.model }}
    {% endfor %}
    <!--Alert messages for empty inventory-->
    {% if messages and for_sake == "Hey" %}
     {% for message in messages %}
       <div class="alert alert-{{ message.tags }}" role="alert">
         {{ message }}
       </div>
     {% endfor %}
   {% endif %}
    <br>
    <a href="{% url 'general:alter_inventory' %}" style="color: black;"> Click here to make changes to inventory</a>
  {% endblock %}
